.digital_tab{
	border: 1px solid #2ecc71;
	padding-top: 0.4em;
	padding-bottom:1em;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	width:9.5em !important;
}
.digital_status{
	margin-top: 1em;
    background-color: #f0fcf5;
    padding: 0.5em;
    border: 1px solid #dbf7e7;
    color: #1e1e1e;
    text-align: center;
    font-weight: bold;
    font-size: larger;
}
.list_view{
	font-size:20px;
	margin-top:10px
}
.aspk_ac_start{
	border-top: 1px solid #2ecc71;
	border-left: 1px solid #2ecc71;
	border-bottom: 1px solid #2ecc71;
	padding-top: 0.4em;
	padding-bottom:1em;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.aspk_acount{
	border-top: 1px solid #2ecc71;
	border-left: 1px solid #2ecc71;
	border-bottom: 1px solid #2ecc71;
	padding-top: 0.4em;
	padding-bottom:1em;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.aspk_ac_end{
	border: 1px solid #2ecc71;
	padding-top: 0.4em;
	padding-bottom:1em;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.aspk_acount_st{
	border-left: 1px solid #2ecc71;
	border-bottom: 1px solid #2ecc71;
	height:3em;
	padding-top:10px;
}
.aspk_start{
	border-left: 1px solid #2ecc71;
	border-bottom: 1px solid #2ecc71;
	height:3em;
	padding-top:10px;
}
.aspk_end{
	border-right: 1px solid #2ecc71;
	border-left: 1px solid #2ecc71;
	border-bottom: 1px solid #2ecc71;
	height:3em;
	padding-top:10px;
}
.make_offer{
    padding: 1em;
    padding-right: 2em;
    border-radius: 10px;
    background-color: #f0fcf5;
    border: 1px solid #dbf7e7;
}

.btn_offer{
background-color:#2ecc71 !important;
border: 1px solid #dbf7e7 !important; 	
}
.digital_status_offer{
	
	
}